body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home1{
      color:rgb(1, 1, 34);
      top:50px;
}
p{
  font-style:italic;
}

a{
  color:white;
}

/* img {
  width:300px;
  transform:translateX(0px);
  animation:float 6s ease-out infinite;
}
@keyframes float{
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-50px);
  }
  100%{
    transform:transalteY(0px);
  }
} */